<div class="flex justify-start items-center">
  <span i18n>
    Use the system prompt to instruct the chat bot how to behave. Students will not see the system
    prompt.
  </span>
  <button
    class="enable-in-translation"
    mat-icon-button
    (click)="showSystemPromptHelp = !showSystemPromptHelp"
    matTooltip="Help"
    matTooltipPosition="above"
    i18n-matTooltip
    aria-label="Toggle system prompt instructions"
    i18n-aria-label
  >
    <mat-icon>help</mat-icon>
  </button>
</div>
@if (showSystemPromptHelp) {
  <div class="mat-caption system-prompt-help">
    <strong i18n>System Prompt Instructions</strong>
    <p i18n>
      Provide context, instructions, and other relevant information to help the chat bot act the way
      you want it to. Be as specific as possible.
    </p>
    <strong i18n>Example System Prompt</strong>
    <p i18n>
      You are a teacher helping a student understand the greenhouse effect by using the example of a car 
      that has been sitting in the sun on a cold day. The student is asked how the temperature inside the 
      car will feel. Do not tell them the correct answer, but guide them to better understand the science 
      by asking questions. Limit your response to 100 words / 1-2 sentences, and make sure not to ask more 
      than 1 question at a time. Avoid overwhelming students with too much information at once; instead, 
      guide them with a natural, step-by-step dialogue. Use a kind and encouraging tone, like how a teacher 
      would speak to a student.
    </p>
  </div>
}
<mat-form-field class="system-prompt" appearance="fill">
  <mat-label i18n>System Prompt</mat-label>
  <textarea
    matInput
    [(ngModel)]="componentContent.systemPrompt"
    (ngModelChange)="componentChanged()"
    cdkTextareaAutosize
  >
  </textarea>
</mat-form-field>
<p i18n>Use the prompt to introduce the chatbot activity. Students will see the prompt.</p>
<edit-component-prompt
  [componentContent]="componentContent"
  (promptChangedEvent)="promptChanged($event)"
/>
<p i18n>
  Use the intended answer to record the response you expect students to reach. Students will not see
  this text.
</p>
<mat-form-field class="system-prompt" appearance="fill">
  <mat-label i18n>Intended Answer</mat-label>
  <textarea
    matInput
    [(ngModel)]="componentContent.intendedAnswer"
    (ngModelChange)="componentChanged()"
    cdkTextareaAutosize
  >
  </textarea>
</mat-form-field>
<p i18n>
  Use the feedback rules to guide the chat bot's response to the student's answer. Students will not see
  these rules.
</p>
<div class="feedback-rules notice-bg-bg">
  <div class="flex justify-start items-center gap-2">
    <h5 class="mat-subtitle-1 feedback-rules-heading" i18n>Feedback Rules</h5>
    <button
      type="button"
      mat-icon-button
      color="primary"
      matTooltip="Add a new rule"
      i18n-matTooltip
      matTooltipPosition="above"
      (click)="addFeedbackRule()"
    >
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
  @for (rule of componentContent.feedbackRules; track $index; let i = $index) {
    <mat-card appearance="outlined" class="feedback-rule-card">
      <div class="flex flex-row flex-wrap gap-2 items-start">
        <div class="flex flex-col gap-2 flex-1">
          <mat-form-field class="system-prompt" appearance="fill">
            <mat-label i18n>Detected Idea</mat-label>
            <textarea
              matInput
              [(ngModel)]="rule.detectedIdea"
              (ngModelChange)="componentChanged()"
              cdkTextareaAutosize
            ></textarea>
          </mat-form-field>
          <mat-form-field class="system-prompt" appearance="fill">
            <mat-label i18n>Response Guidance</mat-label>
            <textarea
              matInput
              [(ngModel)]="rule.responseGuidance"
              (ngModelChange)="componentChanged()"
              cdkTextareaAutosize
            ></textarea>
          </mat-form-field>
        </div>
        <button
          type="button"
          mat-icon-button
          matTooltip="Delete rule"
          i18n-matTooltip
          matTooltipPosition="before"
          (click)="deleteFeedbackRule(i)"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </mat-card>
  }
</div>
<mat-checkbox
  color="primary"
  class="enable-computer-avatar-checkbox"
  [(ngModel)]="componentContent.isComputerAvatarEnabled"
  (ngModelChange)="componentChanged()"
  i18n
  >Enable Computer Avatar</mat-checkbox
>
@if (componentContent.isComputerAvatarEnabled) {
  <edit-dialog-guidance-computer-avatar
    [computerAvatarSettings]="componentContent.computerAvatarSettings"
  />
}
